{% extends "basic.html" %}
{% load static %}
{% block title %} Title About {% endblock title %}


{% block body %} 
    <div class="row" style="height: 180px;background-color: white">
        <h1 style= "color: black; text-align: center; margin-top: 12px;"> ABOUT US</h1>
        <h4 style="color: black;" > A group of friends enthusiatic about travelling and on the mission of enabling everyone interested in exploring nature & find oneslf in th process   </h4>
    </div>
    <div>
        <img style="height: 700px;" src="{% static 'images/about_us.jpg' %}" alt="">
        
    </div>
    

{% endblock body %}