{% extends "basic.html" %}

{% block title %} ConfirmationPage {% endblock title %}

{% block style %}{% endblock style %}

{% block body %}
<h3 style=" color: blue; margin-left: 20px;"> Confirm Enrollment</h3>
    {% for i in carts  %}
        <div class="row">
            <div class="col-md-6">
                <img src="{{i.eid.e_image.url}}" style="width: 600px; height: 700px;">
                


            </div>
            <div class="col-md-6" style="margin-top: 200px;">
                
                <h4 style="margin-top: 20px;"> <b> Event Name: </b> {{i.eid.e_name}} </h4>
                <h4 style="margin-top: 20px;"> <b> Event Date: </b> {{i.eid.e_date}} </h4>
                <h4 style="margin-top: 20px;"> <b> Event Price: </b> {{i.eid.e_price}} </h4>
                <h4 style="margin-top: 20px;"> <b> Number of Participants : </b>
                <p>
                    <a href="/updateqty/0/{{i.id}}"><button class="btn btn-warning">-</button></a>
                    <input style="width: 100px; height: 30px; margin-top: 5px;" type="text" value="{{i.participants}}">
                    <a href="/updateqty/1/{{i.id}}"><button class="btn btn-warning">+</button></a>
                </p>
                </h4>
                <a href="/remove/{{i.id}}"><button class="btn btn-danger">Remove</button></a>
            </div>
        </div>

    {% endfor %}
    <h4 style="margin-top: 20px;"> <b> Total Amount : </b> {{total}} 
        
        <a href="/makepayment/"><button class="btn btn-warning">Make Payment</button></a>
    </h4>

    

    <script src="https://checkout.razorpay.com/v1/checkout.js">

{% endblock body %}