{% extends "basic.html" %}

{% load static  %}

{% block title %}
  IndexPage
{% endblock title %}

{% block style %}
          /* CSS to make the video cover the entire viewport */
          #video-container {
      position: relative;
      width: 100%;
      max-width: fit-content; /* Adjust as needed */
      margin-bottom: 0px;
      padding: 0px
      }
  
      /* Style for the video */
      #background-video {
      width: 100%;
      height: auto;
      }

      /* Style for the text */
      #text-overlay {
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -70%);
      color: white;
      font-size: 24px;
      text-align: center;
      max-height: 70px;
      }

      .col-md-4{
        display: inline-block;
        margin-left: -4px;
      }

      .col-md-4 img{
        width: 100%;
        height: 350px;
      }

      body .carousel-indicator li{
        background-color: blue;
      }

      body .carousel-control-prev-icon,
      body .carousel-control-next-icon{
        background-color: blue;
      }

      body .no-padding{
        padding-left: 0;
        padding-right: 0;
      }

      {% endblock style %}

        
          
        
        <!-- Header Section ends -->
        {% block body %}

        <!-- Video -->
        <div id="video-container">
          <video id="background-video" autoplay muted loop>
            <source src="{% static 'videos/video2.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
          </video>

          <!-- Text Overlay -->
          
          <div id="text-overlay">
            
            <p style="margin-top: 330px; color: white;">To Set Sail in the New Land & The New Things,<br>
               But, After All Those Adventures In The High Seas And The Foriegn Lands<br>
               To Come Back Once Again To See Old Things With New Eyes,<br>
               THAT IS WISDOM <br> </p>
              <p style="margin-left: 300px; margin-top: 0; padding: 0;">-Alfred Lord Tennyson </p> 
          </p>
          </div>
        </div>

        <div>
          <h1 style="text-align: center;font-size: 60px; color: rgb(227, 178, 115); background-color: rgb(255, 254, 254);"> EVENTS </h1> <hr>
        </div>

        <!-- Events sectins starts -->
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
          <ul class= 'carousel-indicators'>
            <li data-bs-target='#demo' data-bs-slide-to="0" class="active"> </li>
            {% for i in range %}
            <li data-bs-target='#demo' data-bs-slide-to="{{i}}">  </li>  
            {% endfor %}
          </ul>


        <!-- Slideshow starts here -->
        <div class="container carousel-inner no-padding">

          <div class="carousel-item active" style="margin-left: 30px;">
            {% for i in event %}
              <div class="col-xs-4 col-sm-4 col-md-4" style="margin-bottom: 30px;">
                <div class="card" style="width: 18rem;margin-top: 30px; ">
                  <img src="/media/{{i.e_image}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"> {{i.e_name}} </h5>
                    {% if i.e_category == 1  %}
                      <p style="margin-bottom: 3px;"><b>Category: </b> Day Trek </p>  
                    {% elif i.e_category == 2 %}
                      <p style="margin-bottom: 3px;"><b>Category: </b> Camping </p>
                    {% elif i.e_category == 3 %}
                      <p style="margin-bottom: 3px;"><b>Category: </b> Family tour </p>
                    {% elif i.e_category == 4 %}
                      <p style="margin-bottom: 3px;"><b>Category: </b> Backapacking </p>
                    {% endif %}
                    <p style="margin-bottom: 3px;"><b>When: </b>{{i.e_date}}</p>
                    {% if i.e_state == 1 %}
                      <p style="margin-bottom: 5px;"><b>Location: </b> Maharashtra</p>
                    {% elif i.e_state == 2 %}
                      <p style="margin-bottom: 5px;"><b>Location: </b> Sikkim</p>
                    {% elif i.e_state == 3 %}
                      <p style="margin-bottom: 5px;"><b>Location: </b> Uttarakhand</p>
                    {% elif i.e_state == 4 %}
                      <p style="margin-bottom: 5px;"><b>Location: </b> Karnataka</p>
                    {% elif i.e_state == 5 %}
                      <p style="margin-bottom: 5px;"><b>Location: </b> Himachal Pradesh</p>
                    {% endif %}
                    <a href="/edetails/{{i.id}}" class="btn btn-primary">Click for details</a>
                  </div>
                </div>
              </div>
            {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
              </div> <div class="carousel-item">
            {% endif %}
            {% endfor %} 

          </div>   
        </div>
      </div>  
      <a href="/events" style="margin-left: 600px;"> Show All</a>
            
                
                
           

        <a class="carousel-control-prev" href="#demo" data-bs-slide="prev" style="margin-top: 1655px;">
            <span class="carousel-control-prev-icon"></span>
        </a>

        <a class="carousel-control-prev-icon" href="#demo" data-bs-slide="next" style="margin-left: 1150px;">
            <span class="carousel-control-next-icon"></span>
        </a>

        {% endblock body %}

        